---
import { ColorSchemeScript } from '@mantine/core';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <ColorSchemeScript defaultColorScheme="dark" />
  </head>

  <body class="grid grid-rows-[auto_1fr_auto] h-screen text-sm relative">
    <nav class="sticky top-0 left-0 right-0 z-10">
      <slot name="nav" />
    </nav>
    <main class="overflow-hidden">
      <slot />
    </main>
    <footer>
      <slot name="footer" />
    </footer>
  </body>
</html>
