---
import { ColorSchemeScript } from '@mantine/core';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <ColorSchemeScript defaultColorScheme="dark" />
  </head>

  <body class="grid grid-rows-[auto_1fr_auto] h-screen text-sm relative">
    <slot />
  </body>
</html>
