---
import { ColorSchemeScript, MantineProvider } from '@mantine/core';
import { ViewTransitions } from 'astro:transitions';
import { ErrorBoundary } from '../components/react/error-boundary';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <ColorSchemeScript defaultColorScheme="dark" />
    <ViewTransitions fallback="swap" />
  </head>

  <body class="grid grid-rows-[auto_1fr_auto] h-screen text-sm relative">
    <nav>
      <slot name="nav" />
    </nav>
    <main class="overflow-hidden">
      <slot />
    </main>
    <footer>
      <slot name="footer" />
    </footer>
  </body>
</html>
